hostname = *.kuwo.cn
# 解锁音乐会员听书
^http://(.+).kuwo.cn(/v2/api/user/info|/a.p|/vip/v2/user/vip) url script-response-body https://raw.githubusercontent.com/fzanb/js/main/Kuwo2.js

# 解锁下载
^https?:\/\/musicpay\.kuwo\.cn\/music\.pay\?newver.+$ url script-request-body https://raw.githubusercontent.com/fzanb/js/main/kuowodown.js
